In [123]:
import pandas as pd
import numpy as np
import scipy

In [124]:
df = pd.read_csv("illiteracy.txt", sep='\t')

In [125]:
df.corr(method = "spearman")

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [126]:
df = pd.read_csv("water.txt", sep='\t')
df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [127]:
df.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [128]:
df.corr(method = "spearman")

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [129]:
df[df["location"] == "South"].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [130]:
df[df["location"] == "North"].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [131]:
a = 515
b = 239
c = 718
d = 203
mcc = (a*d - b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))
mcc

-0.10900237458678963

In [132]:
from scipy.stats import chi2_contingency

In [133]:
chi2_contingency([[a,b],[c,d]])

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[555.03402985, 198.96597015],
        [677.96597015, 243.03402985]]))

In [134]:
alpha = 0.05
z = scipy.stats.norm.ppf(1 - alpha / 2.)

p1 = 239/(239 + 515)
p2 = 203/(203 + 718)

left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/(239 + 515) + p2 * (1 - p2)/(203 + 718))
right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/(239 + 515) + p2 * (1 - p2)/(203 + 718))
print('[' + str(left_boundary) + ', ' + str(right_boundary) + ']' )

[0.053905233215813156, 0.13922183141523897]

In [135]:
#7
n1 = (239 + 515)
n2 = (203 + 718)

p1 = 239 /n1
p2 = 203/n2 
P = float(p1*n1 + p2*n2) / (n1 + n2)

z_stat = (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))
2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))

8.153453089576601e-06

In [136]:
#8
chi2_contingency([[197, 111, 33],[382, 685, 331], [110, 342, 333]], correction = False)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [137]:
#9
n = np.sum([197, 111, 33, 382, 685, 331, 110, 342, 333])
np.sqrt(293.68311039689746/(n*(3-1)))

0.2412013934500338

In [138]:
from statsmodels.stats.descriptivestats import sign_test
df = pd.read_csv("AUCs.txt", sep='\t')
df

                 Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0            adult (sample)  0.763   0.768    0.771      0.798
1             breast cancer  0.599   0.591    0.590      0.569
2   breast cancer wisconsin  0.954   0.971    0.968      0.967
3                       cmc  0.628   0.661    0.654      0.657
4                ionosphere  0.882   0.888    0.886      0.898
5                      iris  0.936   0.931    0.916      0.931
6           liver disorders  0.661   0.668    0.609      0.685
7               lung cancer  0.583   0.583    0.563      0.625
8              lymphography  0.775   0.838    0.866      0.875
9                  mushroom  1.000   1.000    1.000      1.000
10            primary tumor  0.940   0.962    0.965      0.962
11                    rheum  0.619   0.666    0.614      0.669
12                   voting  0.972   0.981    0.975      0.975
13                     wine  0.957   0.978    0.946      0.970

In [139]:
corr_data = []

for i, lhs_column in enumerate(df.drop("Unnamed: 0", axis=1).columns):
    for j, rhs_column in enumerate(df.drop("Unnamed: 0", axis=1).columns):
        if i >= j:
            continue
        
        corr, p = wilcoxon(df[lhs_column] - df[rhs_column])
        corr_data.append([lhs_column, rhs_column, corr, p])

NameError: name 'wilcoxon' is not defined

In [ ]:
corr_data = pd.DataFrame(corr_data)
corr_data.columns = ["model1", "model2", "stat", "p"]

In [ ]:
corr_data

In [ ]:
from statsmodels.sandbox.stats.multicomp import multipletests 
reject, p_corrected, a1, a2 = multipletests(corr_data.p, 
                                            alpha = 0.05, 
                                            method = 'holm')

In [ ]:
reject

In [ ]:
reject, p_corrected, a1, a2 = multipletests(corr_data.p, 
                                            alpha = 0.05, 
                                            method = 'fdr_bh')

In [ ]:
reject

In [140]:
################
df = pd.read_csv("botswana.tsv", sep='\t')
df.shape

(4361, 15)

In [141]:
#1
len(df["religion"].value_counts())

4

In [142]:
#2
df.dropna().shape

(1834, 15)

In [143]:
#3
df["nevermarr"] = np.isnan(df["agefm"]).astype(int)
df = df.drop("evermarr", axis = 1)
df["agefm"] = df["agefm"].fillna(0)
df.loc[df["nevermarr"].astype(bool), "heduc"] = -1
np.sum(np.isnan(df["heduc"]))

123

In [144]:
#4
df["idlnchld_noans"] = np.isnan(df["idlnchld"])
df.loc[np.isnan(df["idlnchld"]), "idlnchld"] = -1
df["heduc_noans"] = np.isnan(df["heduc"])
df.loc[np.isnan(df["heduc"]), "heduc"] = -2
df["usemeth_noans"] = np.isnan(df["usemeth"])
df.loc[np.isnan(df["usemeth"]), "usemeth"] = -1
df = df.dropna()
df.shape[0]*df.shape[1]

78264

In [145]:
#5
import statsmodels.formula.api as smf
m1 = smf.ols('ceb ~ age + educ + religion + idlnchld + knowmeth + usemeth +'\
       'agefm + heduc+ urban + electric + radio + tv + bicycle +'\
       'nevermarr + idlnchld_noans + heduc_noans + usemeth_noans', 
             data=df)
fitted = m1.fit()
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     412.5
Date:                Sun, 02 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:44:58   Log-Likelihood:                -7732.1
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4328   BIC:                         1.563e+04
Df Model:                          19
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -1.0263      0.212     -4.835      0.000      -1.443      -0.610
religion[T.other]         -0.0830      0.083     -1.001      0.317      -0.245       0.080
religion[T.protestant]    -0.0149      0.082     -0.181      0.857      -0.176       0.146
religion[T.spirit]        -0.0191      0.077     -0.248      0.804      -0.171       0.132
idlnchld_noans[T.True]     0.6539      0.153      4.286      0.000       0.355       0.953
heduc_noans[T.True]       -0.8724      0.145     -6.026      0.000      -1.156      -0.589
usemeth_noans[T.True]      0.7652      0.196      3.910      0.000       0.382       1.149
age                        0.1703      0.003     51.891      0.000       0.164       0.177
educ                      -0.0724      0.007     -9.843      0.000      -0.087      -0.058
idlnchld                   0.0760      0.011      6.923      0.000       0.054       0.098
knowmeth                   0.5564      0.121      4.580      0.000       0.318       0.795
usemeth                    0.6473      0.048     13.424      0.000       0.553       0.742
agefm                     -0.0604      0.007     -9.213      0.000      -0.073      -0.048
heduc                     -0.0551      0.008     -6.838      0.000      -0.071      -0.039
urban                     -0.2137      0.047     -4.527      0.000      -0.306      -0.121
electric                  -0.2685      0.077     -3.479      0.001      -0.420      -0.117
radio                     -0.0235      0.051     -0.461      0.645      -0.123       0.076
tv                        -0.1451      0.093     -1.566      0.118      -0.327       0.037
bicycle                    0.2139      0.050      4.260      0.000       0.115       0.312
nevermarr                 -2.2393      0.148    -15.143      0.000      -2.529      -1.949
==============================================================================
Omnibus:                      224.411   Durbin-Watson:                   1.887
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              859.014
Skew:                           0.003   Prob(JB):                    2.93e-187
Kurtosis:                       5.178   Cond. No.                         361.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [146]:
#7
import statsmodels.stats.api as sms
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted.resid, fitted.model.exog)[1])
fitted = m1.fit(cov_type='HC1')

Breusch-Pagan test: p=0.000000

In [147]:
#8
m2 = smf.ols('ceb ~ age + educ  + idlnchld + knowmeth + usemeth +'\
       'agefm + heduc+ urban + electric + bicycle +'\
       'nevermarr + idlnchld_noans + heduc_noans + usemeth_noans', 
            data=df)         
fitted2 = m2.fit()
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted2.resid, fitted2.model.exog)[1])
fitted2 = m2.fit(cov_type='HC1')
print(fitted2.summary())

Breusch-Pagan test: p=0.000000
                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     463.4
Date:                Sun, 02 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:44:59   Log-Likelihood:                -7734.5
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4333   BIC:                         1.559e+04
Df Model:                          14
Covariance Type:                  HC1
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -1.0698      0.258     -4.152      0.000      -1.575      -0.565
idlnchld_noans[T.True]     0.6565      0.216      3.043      0.002       0.234       1.079
heduc_noans[T.True]       -0.8853      0.191     -4.638      0.000      -1.259      -0.511
usemeth_noans[T.True]      0.7732      0.212      3.639      0.000       0.357       1.190
age                        0.1702      0.004     38.746      0.000       0.162       0.179
educ                      -0.0729      0.007    -10.311      0.000      -0.087      -0.059
idlnchld                   0.0770      0.014      5.323      0.000       0.049       0.105
knowmeth                   0.5610      0.174      3.224      0.001       0.220       0.902
usemeth                    0.6516      0.052     12.571      0.000       0.550       0.753
agefm                     -0.0606      0.010     -6.192      0.000      -0.080      -0.041
heduc                     -0.0573      0.009     -6.440      0.000      -0.075      -0.040
urban                     -0.2190      0.045     -4.814      0.000      -0.308      -0.130
electric                  -0.3207      0.063     -5.076      0.000      -0.445      -0.197
bicycle                    0.2046      0.048      4.279      0.000       0.111       0.298
nevermarr                 -2.2501      0.202    -11.158      0.000      -2.645      -1.855
==============================================================================
Omnibus:                      224.096   Durbin-Watson:                   1.886
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              856.760
Skew:                           0.004   Prob(JB):                    9.06e-187
Kurtosis:                       5.175   Cond. No.                         345.
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [148]:
#8
print("F=%f, p=%f, k1=%f" % fitted.compare_f_test(fitted2))

F=0.919236, p=0.467231, k1=5.000000

C:\Users\stesn\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:2018: InvalidTestWarning: F test for comparison is likely invalid with robust covariance, proceeding anyway
  InvalidTestWarning)

In [149]:
#9
m3 = smf.ols('ceb ~ age + educ  + idlnchld + knowmeth  +'\
       'agefm + heduc+ urban + electric + bicycle +'\
       'nevermarr + idlnchld_noans + heduc_noans', 
            data=df)   
fitted3 = m3.fit()
print('Breusch-Pagan test: p=%f' % sms.het_breuschpagan(fitted3.resid, fitted3.model.exog)[1])
fitted3 = m3.fit(cov_type='HC1')
fitted2.compare_f_test(fitted3)

Breusch-Pagan test: p=0.000000

C:\Users\stesn\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:2018: InvalidTestWarning: F test for comparison is likely invalid with robust covariance, proceeding anyway
  InvalidTestWarning)

(92.89058230109758, 3.1552009480386492e-40, 2.0)

In [150]:
#10
print(fitted2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     463.4
Date:                Sun, 02 Feb 2020   Prob (F-statistic):               0.00
Time:                        17:45:00   Log-Likelihood:                -7734.5
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4333   BIC:                         1.559e+04
Df Model:                          14
Covariance Type:                  HC1
==========================================================================================
                             coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -1.0698      0.258     -4.152      0.000      -1.575      -0.565
idlnchld_noans[T.True]     0.6565      0.216      3.043      0.002       0.234       1.079
heduc_noans[T.True]       -0.8853      0.191     -4.638      0.000      -1.259      -0.511
usemeth_noans[T.True]      0.7732      0.212      3.639      0.000       0.357       1.190
age                        0.1702      0.004     38.746      0.000       0.162       0.179
educ                      -0.0729      0.007    -10.311      0.000      -0.087      -0.059
idlnchld                   0.0770      0.014      5.323      0.000       0.049       0.105
knowmeth                   0.5610      0.174      3.224      0.001       0.220       0.902
usemeth                    0.6516      0.052     12.571      0.000       0.550       0.753
agefm                     -0.0606      0.010     -6.192      0.000      -0.080      -0.041
heduc                     -0.0573      0.009     -6.440      0.000      -0.075      -0.040
urban                     -0.2190      0.045     -4.814      0.000      -0.308      -0.130
electric                  -0.3207      0.063     -5.076      0.000      -0.445      -0.197
bicycle                    0.2046      0.048      4.279      0.000       0.111       0.298
nevermarr                 -2.2501      0.202    -11.158      0.000      -2.645      -1.855
==============================================================================
Omnibus:                      224.096   Durbin-Watson:                   1.886
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              856.760
Skew:                           0.004   Prob(JB):                    9.06e-187
Kurtosis:                       5.175   Cond. No.                         345.
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)